<!-- CONTENT: Begin -->
<div id="slides">
  <ul class="slides-container">
    <li>
      <div class="hi desktop"></div>
      <div class="slide-caption">
        <h1 class="desktop">Save
          <span class="txt-rotate" data-period="1500" data-rotate='[ "water.", "money.", "the planet."]'></span>
        </h1>

        <div class="contrast">
          <p>
          	Flow is guaranteed to reduce your water bill and conserve the world's most valuable resource.
          </p>

          <p>
            <a href="http://precisionflowusa.com" class="btn btn-lg btn-green start-saving">Start Saving Today</a>
          </p>

          <p>
            <a href="" class="btn btn-lg btn-green learn-more">Learn More</a>
          </p>
        </div>
      </div>
  	</li>
	</ul>

  <nav class="slides-navigation">
    <a href="#" class="next">
      <i class="fa fa-angle-right"></i>
    </a>
    <a href="#" class="prev">
      <i class="fa fa-angle-left"></i>
    </a>
  </nav>
</div>
<!-- CONTENT: End -->

<!-- NAVIGATION: Begin -->
<span id="our-product"></span>
<div id="undefined-sticky-wrapper" class="sticky-wrapper is-sticky what-we-do">
  <div id="nav">
    <div class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <a class="navbar-brand" href="">
          	<%= image_tag 'Flow-logo1.png', :style => 'width:100px; margin-top: -5px;' %>
          </a>
        </div>

        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav" id="top-nav">
            <li class="active">
              <a href="#slides">Home</a>
            </li>

            <li>
              <a href="#our-product">Product</a>
            </li>

            <li>
              <a href="#clients2">Partners</a>
            </li>
            <li>
              <a href="#why">Why Flow</a>
            </li>
            <li>
              <a href="#process">Process</a>
            </li>
            <li>
              <a href="#about">About</a>
            </li>
            <li>
              <a href="#clients">Refer a Friend</a>
            </li>
          </ul>
          
          <a href="contact.php" class="btn btn-green navbar-btn pull-right external">Start Saving Today</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- NAVIGATION: End -->

<!-- PRODUCT: Begin -->
<section class="service space">
  <div class="container">
    <div class="row">
      <div class="col-md-9 text-left">
        <h4 class="title-12">Our Product</h4>

        <h1>A proprietary water technology
          <b>
						<span class="f-green">valve</span>
          </b>
        </h1>

        <p class="intro">
        	Reduces water consumption while preserving pressure and user experience. Want to learn more? See our <a href="/FAQ">FAQ</a>.
        </p>
      </div>
    </div>

    <div class="row p-top-50">
      <div class="col-md-4">
        <div class="service-box">
          <figure>
          	<%= image_tag 'product1.jpg', :class => "product-pics" %>
          </figure>
          
          <h3>Hand Crafted</h3>
          
          <p>
          	Custumized to maximize flow efficiency, helping savings average over 25%.
          </p>
        </div>
      </div>

      <div class="col-md-4">
        <div class="service-box">
          <figure>
          	<%= image_tag 'product2.jpg', :class => "product-pics" %>
          </figure>

          <h3>Stainless Steel</h3>

          <p>
          	We use the highest quality materials to make sure savings last for years.
          </p>
        </div>
      </div>
			
			<div class="col-md-4">
        <div class="service-box">
          <figure>
						<%= image_tag 'product3.jpg', :class => "product-pics" %>
          </figure>

          <h3>Made in the USA</h3>
          
          <p>
          	Helping support the local economy in addition to the environment and your wallet.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- PRODUCT: End -->

<!-- CLIENTS: Begin -->
<section id="clients2" class="space">
  <div class="container">
    <div class="row text-center">
      <h3 class="f-white">
      	People We Work With
      </h3>

      <ul class="clients list-inline list-unstyled col-md-10 col-md-offset-1">
        <li>
					<%= image_tag 'partner1.png' %>
        </li>

        <li>
          <%= image_tag 'partner2.png' %>
        </li>
      </ul>
    </div>
  </div>
</section>
<!-- CLIENTS: End -->

<!-- WHY FLOW: Begin -->
<span id="why"></span>
<section class="service space-why">
  <div class="container">
    <div class="row">
      <div class="col-md-9 text-left">
        <h4 class="title-12">
        	Why Flow
        </h4>

        <h1>Save
          <b>
       			<span class="f-green">water</span>
          </b>, 
          <b>
       			<span class="f-green2">money</span>
          </b>
          , and
          <b>
       			<span class="f-brown">the planet</span>
          </b>
        </h1>

        <p class="intro">
        	The average American household consumes about 127,400 gallons of water during a year, costing approximately $1,200 each year.
        </p>

        <%= image_tag 'ticker.png', :class => 'ticker' %>
      </div>
    </div>

    <div class="row p-top-50">
      <div class="col-md-4">
        <div class="service-box">
          <figure>
          	<%= image_tag 'product1.jpg', :class => 'product-pics' %>
          </figure>

          <h3>
          	<span class="f-green">Save Water</span>
          </h3>

          <p>
          	Decrease your water consumption by over 25%, saving tens of thousands of gallons of water each year.
          </p>
        </div>
      </div>

      <div class="col-md-4">
        <div class="service-box">
          <figure>
          	<%= image_tag 'product2.jpg', :class => 'product-pics' %>
          </figure>

          <h3>
          	<span class="f-green2">Save Money</span>
          </h3>

          <p>
          	Average savings of $300 per year. With water prices increasing this number will continue to grow every year.
          </p>
        </div>
      </div>
			
			<div class="col-md-4">
        <div class="service-box">
          <figure>
          	<%= image_tag 'product3.jpg', :class => 'product-pics' %>
          </figure>

          <h3>
          	<span class="f-brown">Save The Planet</span>
          </h3>

          <p>
          	In addition to saving water, we are donating 10% of all proceeds to a charity of your choice.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- WHY FLOW: End -->

<!-- FEATURES: Begin -->
<section class="space process-space" id="process">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h4 class="title-12">Our Process</h4>

        <h1>
        	25%+ savings in 3 easy steps
        </h1>
      </div>
    </div>
   
    <div class="row  p-top-30">
      <div class="col-md-4 col-sm-4">
        <article class="et-wrapper">
          <div class="et-page et-page-opacity features-box et-page-current">
            <i class="fa fa-laptop"></i>

            <h3>Purchase Online</h3>

            <p>Flow costs a fixed $TBD/month.</p>
          </div>
        </article>
      </div>

      <div class="col-md-4 col-sm-4">
        <article class="et-wrapper">
          <div class="et-page features-box et-page-current">
            <i class="fa fa-wrench"></i>

            <h3>Installation</h3>

            <p>
            	A licensed and insured plumber will install the valve in your home at no extra cost.
            </p>
          </div>
        </article>
      </div>

      <div class="col-md-4 col-sm-4">
        <article class="et-wrapper">
          <div class="et-page features-box et-page-current">
            <i class="fa fa-dollar"></i>

            <h3>Start Saving!</h3>

            <p>Enjoy immediate savings.</p>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>
<!-- FEATURES: End -->

<!-- ABOUT: Begin -->
<section id="about" class="space process-space p-btm-50">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1 text-center">
        <h3 class="title-12">ABOUT US</h3>

        <h1>Our History</h1>

        <p>
        	Flow is a Miami, FL based company that combines years of top engineering research with veteran real estate and Fortune 500 business execs. Before Flow the team's engineers previously worked on projects for The FBI, Teva Pharmaceuticals, Embraer, and Johnson and Johnson.
        </p>
      </div>
    </div>

    <div class="row text-center">
      <div class="col-md-12">
        <ul class="stats-info list-unstyled list-inline">
          <li>
            <h2>2 Years</h2>
            <p>Since We Started</p>
          </li>

          <li>
            <h2>2,500,000+</h2>
            <p>Gallons Saved</p>
          </li>

          <li>
            <h2>$4,000,000+</h2>
            <p>Dollars Saved</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!-- ABOUT: End -->

<footer id="footer">
  <div class="container">
	  <div class="btm-footer col-md-12 text-center">
      <ul class="footer-links clearfix list-inline list-unstyled">
          <li>
              <a href="privacy.html">Privacy</a>
          </li>
          <li>
              <a href="terms.html">Terms of Service</a>
          </li>
          <li>
              <a href="mailto:gwaxman@precisionflowusa.com">Contact</a>
          </li>
          <li>
      </ul>

      <p class="p-top-10">
      	All Rights Reserved @2013 Fluid Dynamics LLC
      </p>

      <ul class="socials list-inline list-unstyled p-top-10">
        <li>
          <a class="about-social-icon gplus" href="#">
            <i class="fa fa-google-plus" style=""></i>
          </a>
        </li>

        <li>
          <a class="about-social-icon pinterest" href="#">
            <i class="fa fa-pinterest" style=""></i>
          </a>
        </li>

        <li>
          <a class="about-social-icon twitter" href="#">
            <i class="fa fa-twitter" style=""></i>
          </a>
        </li>

        <li>
          <a class="about-social-icon rss" href="#">
            <i class="fa fa-rss" style=""></i>
          </a>
        </li>

        <li>
          <a class="about-social-icon facebook" href="#">
            <i class="fa fa-facebook" style=""></i>
          </a>
        </li>
      </ul>
	  </div>
  </div>
</footer>