<h3 class="text-center f-green bolder">Gift Card Options</h3>

<div class="row text-center">
  <div class="col-md-4">
    <%= radio_button_tag 'giftcard', 'Visa', true  %> Visa
    <%= image_tag 'partner2.png', :style => "width: 125px;" %>
  </div>

  <div class="col-md-4">
    <%= radio_button_tag 'giftcard', 'Costco'      %> Costco
    <%= image_tag 'partner1.png', :style => "width: 125px;" %>
  </div>

  <div class="col-md-4">
    <%= radio_button_tag 'giftcard', 'Whole Foods' %> Whole Foods
    <%= image_tag 'partner3.png', :style => "width: 125px;" %>
  </div>
</div>
