<div class="row p-top-20">
  <%= form_tag do %>
    <h2 class="text-center">Savings Calculator</h2>

    <h3>Average Monthly Water Bill</h3>

    <div class="row text-center f-black">
      <div class="col-md-2 col-md-offset-2">
        <%= radio_button_tag 'bill', '50'        %> $50
      </div>
      
      <div class="col-md-2">
        <%= radio_button_tag 'bill', '75'        %> $75
      </div>

      <div class="col-md-2">
        <%= radio_button_tag 'bill', '100', true %> $100
      </div>

      <div class="col-md-2">
        <%= radio_button_tag 'bill', '125'       %> $125
      </div>
    </div>

    <div class="row text-center f-black">
      <div class="col-md-2 col-md-offset-2">
        <%= radio_button_tag 'bill', '150'       %> $150
      </div>
      
      <div class="col-md-2">
        <%= radio_button_tag 'bill', '200'       %> $200
      </div>

      <div class="col-md-2">
        <%= radio_button_tag 'bill', '250'       %> $250
      </div>

      <div class="col-md-2">
        <%= radio_button_tag 'bill', '300'       %> $300
      </div>
    </div>

    <div class="row p-top-20">
      <input type="submit" name="submit" value="Calculate Savings" class="btn btn-green bolder" id="calc-btn"/>
    </div>

  <% end %>
</div>

<br>

<div class="row text-left" style="font-size: 16px;">
  <div class="col-md-6 col-md-offset-2">
    <p>Average Annual Cost         </p>
    <p>Annual Savings with Flow    </p>
    <p>Cost of Flow (Less $50 Gift Card)</p>
  </div>

  <div class="col-md-1 text-center">
    <p id="calc-cost" class="bolder f-blue">$600.00</p>
    <p id="calc-save" class="bolder f-green">$150.00</p>
    <p class="bolder f-brown">$449.99</p>
  </div>
</div>

<div class="row text-center">
  <div class="col-md-8 col-md-offset-2">
    <h3>
      Paid for in <span id="calc-paid" class="bolder f-green">36</span> months or less!
    </h3>
  </div>
</div>
